:root {
  --road-color: #333;
  --main-vehicle-color: #fdd206;
  --accent-vehicle-color: #f4b603;
  --back-light-color: #fc3c25;
  --vehicle-window-color: #111;
  --white: #fff;
  --default-border-radius: 10px;
}

body {
  background: #ededed;
  min-height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.App {
  display: grid;
  place-content: center;
}

/* Title styling */
.game-title {
  text-transform: uppercase;
  text-align: center;
  margin: 1.25rem;
}

.play-area {
  min-width: 600px;
  min-height: 600px;
}

/* Grid styling */
ul.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: var(--road-color);
  border-radius: 20px;
  justify-content: space-evenly;
  overflow: hidden;
}

ul.sub-list {
  display: contents;
}

li[class^="row"] {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

li[class^="col"] {
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: stretch;
  transition: ease-in-out 0.25s;
  position: relative;
}

li[class^="col"]:hover {
  background: rgba(245, 245, 245, 0.25);
}

/* Vehicle styling */
.vehicle {
  position: absolute;
  width: 200px;
  height: 80px;
  background: var(--accent-vehicle-color);
  border-radius: var(--default-border-radius);
  box-shadow: -10px 10px rgba(0, 0, 0, 0.25);
  cursor: grab;
}

.vehicle.vertical {
  transform: rotate(-90deg);
}

/* Back lights */
.vehicle::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 2px;
  width: 5px;
  height: 15px;
  background: var(--back-light-color);
  border-radius: 2px;

  /* Second light */
  box-shadow: 0 42px var(--back-light-color);
}

/* Front lights */
.vehicle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;
  width: 6px;
  height: 16px;
  background: var(--white);
  border-radius: 2px;

  /* Second light */
  box-shadow: 0 44px var(--white);
}

/* Vehicle body */
.vehicle-body {
  position: absolute;
  inset: 5px 10px;
  background: var(--main-vehicle-color);
  border-radius: var(--default-border-radius);
  overflow: hidden;
}

.vehicle-body::before {
  content: "";
  position: absolute;
  inset: 0 30px;
  background: var(--vehicle-window-color);
  border-radius: var(--default-border-radius);
}

.vehicle-body::after {
  content: "";
  position: absolute;
  inset: 0px 87px;
  background: var(--main-vehicle-color);
}

/* Vehicle top */
.vehicle-top {
  position: absolute;
  inset: 6px 50px;
  background: var(--main-vehicle-color);
  border-radius: 5px;
}

.vehicle-top::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 40px;
  height: 5px;
  background: var(--main-vehicle-color);
  transform-origin: right;
  transform: rotate(15deg);
  box-shadow: 100px 34px var(--main-vehicle-color);
}

.vehicle-top::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -20px;
  width: 40px;
  height: 5px;
  background: var(--main-vehicle-color);
  transform-origin: right;
  transform: rotate(-15deg);
  box-shadow: 100px -34px var(--main-vehicle-color);
}

.hide {
  display: none;
}

/* Reset button */
.reset-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: var(--accent-vehicle-color);
  border: none;
  border-radius: var(--default-border-radius);
  font-weight: 800;
  font-size: large;
  cursor: pointer;
}

/* Modal */
.backdrop {
  position: absolute;
  background: rgba(17, 17, 17, 0.5);
  width: 100%;
  height: 100%;
}

.backdrop.active {
  display: grid;
  place-content: center;
}

.modal {
  background: var(--white);
  border-radius: var(--default-border-radius);
  padding: 1rem;
  min-width: 500px;
  min-height: 400px;
  display: grid;
  place-content: center;
  text-align: center;
}

.modal-title {
  text-transform: uppercase;
}

.modal-description {
  margin: 2rem;
  font-weight: 600;
}
